<h1>Speak Friend and Enter...</h1>

<%= render 'form' %>

<h3>About this Demo</h3>
<p>
	This is a demonstration of adding the Google speech tags to a text area in Rails.
</p>
<ul>
  <li>speech</li>
  <li>x-webkit-speech</li>
</ul>

<%= link_to 'Back', notes_path %>
